* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
}

li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 14px;
  line-height: 1.25rem;
  background-color: #1a1a1a;
  color: #fff;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  word-break: keep-all;
}
input:focus { outline: none; }
.font-bolds {
  font-weight: bold;
}
.underlines:hover {
  text-decoration: underline;
}

.cursor-pointers {
  cursor: pointer;
}

.button-class{
  border: 0;
  background-color: transparent;
}
.display-nones {
  display: none;
}
.mobile-onlys {
  display: block;
}
.pc-onlys-block,
.pc-onlys-flex {
  display: none !important;
}

.display-blocks {
  display: block;
}

.display-hiddens {
  display: hidden;
}

.flex-betweens {
  display: flex;
  justify-content: space-between;
}

.flexs {
  display: flex;
}

/* // */
.body {
  margin-top: 72px;
}
nav {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
  background-color: rgba(26,26,26, 1);
}
nav>div {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 16px;
}

nav ul li {
  padding: 8px 12px;
}
nav ul li a:hover {
  color: #fff;
}
nav ul li a {
  color: #a5a5a5;
  text-decoration: none;
}
nav ul li a.active {
  color: #fff;
  font-weight: bold;
}
nav .logo {
  width: 90px;
  height: 20px;
  margin-top: 8px;
  margin-right: 16px;
}
article h2 {
  padding-left: 12px;
  margin-top: 12px;
}
article .swiper-wrapper {
  padding-left: 12px;
  margin-top: 8px;
  padding-bottom: 12px;
}
article .swiper-slide {
  position: relative;
  height: 42vw;
  border-radius: 8px;
  overflow: hidden;
}
article img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  transition: 0.3s;
}
article img:hover {
  width: 105%;
  height: 105%;
}
.details .poster-box {
  position: relative;
}
.details .poster-box .inner-wrapper {
  padding: 16px 12px 20px;
  color: #a5a5a5;
}
.details .poster-box .inner-wrapper>div {
  margin-bottom: 20px;
}
.details .poster-box .inner-wrapper h3 {
  word-wrap: break-word;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #fff;
}
.details .poster-box .inner-wrapper li {
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.details .poster-box .inner-wrapper li+li {
  margin-left: 4px;
  padding-left: 6px;
}
.details .poster-box .inner-wrapper li+li::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: inline-block;
  width: 1px;
  height: 1px;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.details .poster-box .inner-wrapper .favicon {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  width: 48px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: 16px;
}
.details .poster-box .inner-wrapper .favicon> div {
  width: 24px;
  height: 24px;
  margin: 5px auto 4px;
}

.details .poster-box .inner-wrapper .favicon .heartoff {
  background: url(image/heart-off.png)no-repeat;
  background-size: cover;
  background-position: center;
}

.details .poster-box .inner-wrapper .favicon .hearton {
  background: url(image/heart-on.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.details .poster-box .inner-wrapper .summary span {
  word-break: keep-all;
}
.details .poster-box .inner-wrapper .summary .summary-button {
  color: #fff;
  font-weight: 600;
}
.details .bottom-tab-container>ul {
  padding-bottom: 12px;
  padding-left: 12px;
  color: #a5a5a5;
}
.details .bottom-tab-container>ul li {
  padding: 12px 8px 4px;
  cursor: pointer;
}
.details .bottom-tab-container>ul li+li {
  margin-left: 12px;
}
.details .bottom-tab-container>ul li:hover {
  color: #fff;
}
.details .bottom-tab-container>ul li.active {
  color: #fff;
  font-weight: 600;
  border-bottom: 4px solid #1351f9;
}
.details .bottom-tab-container .detail-info {
  padding: 12px;
}
.details .bottom-tab-container .detail-info li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}
.details .bottom-tab-container .detail-info li:first-child .detail-info-overview {
  width: calc(100% - 100px);
}
.details .bottom-tab-container .detail-info li:first-child .detail-info-overview p {
  color: #a5a5a5;
  margin-top: 4px;
  word-break: keep-all;
}
.details .bottom-tab-container .detail-info-img {
  position: relative;
  width: 88px;
  height: 132px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 12px;
}
.details .bottom-tab-container .detail-info li:not(:first-child) p{
  width: calc(100% - 68px);
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #fff;
  transition: 0.3s;
}
.swiper .swiper-button-next {
  margin-right: -50px;
}

.swiper .swiper-button-prev {
  margin-left: -50px;
}

.swiper:hover .swiper-button-next {
  margin-right: 0;
}

.swiper:hover .swiper-button-prev {
  margin-left: 0;
}

.swiper .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
}

.swiper .swiper-pagination-bullet-active {
  transition: width .5s !important;
  background: rgba(255, 255, 255, 1) !important;
}

.search-box {
  width: 40px;
  position: relative;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #232323;
  display: flex;
  overflow: hidden;
}

.search-box-open {
  width: 328px;
  border: 1px solid #232323;
  transition: 0.3s;
}

.search-open-nones {
  display: none;
}

.search-box svg {
  vertical-align: middle;
}

.search-btn {
  display: none;
}

.search-box .search-open, .search-btn-active {
  position: absolute;
  left: 0;
  padding: 8px;
}
.search-close-btn {
  display: none;
}

.search-box .search-close-btn-active {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.search-box input {
  width: 0px;
  height: 100%;
  border-radius: 4px;
  color: #fff;
}

.search-box .search-input-open {
  width: 328px;
  background-color: black;
  padding: 0 40px;
}

main section {
  position: relative;
  height: 100vw;
  margin-bottom: 20px;
  overflow: hidden;
}

main section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 179%;
}

main section .banner-title {
  position: absolute;
  bottom:50px;
  margin: 0 16px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 10px;
  word-break: keep-all;
}

main section .banner-title h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 10px;
}

main section .banner-shadow {
  position: absolute;
  width: 100%;
  height: 20vw;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #1a1a1a);
}
.result-message {
  padding: 12px;
  word-break: keep-all;
}
footer {
  position: relative;
  font-size: 12px;
  color: #717171;
  padding: 30px 10px 50px;
}
footer>div>div {
  margin-bottom: 16px;
}
footer li {
  padding: 12px 0 8px;
}
footer li:not(:first-child) {
  padding: 12px 10px 8px;
}
footer span {
  font-weight: 700;
  color: #a5a5a5;
}
.favActive {
  color: yellow;
}
.favActive {
  color: yellow;
}

@media screen and (min-width: 1366px) {
  .body {
    margin-top: 74px;
    font-size: 16px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }
  .pc-widths {
    width: 1240px;
    margin: 0 auto;
  }
  .mobile-onlys {
    display: none !important;
  }

  .pc-onlys-block {
    display: block !important;
  }

  .pc-onlys-flex {
    display: flex !important;
  }
  nav>div {
    padding: 0;
  }
  nav .logo {
    width: 108px;
    height: 24px;
    margin-top: 24px;
    margin-right: 78px;
  }
  nav ul li {
    padding: 0 10px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 74px;
  }
  .search-box {
    margin-top: 18px;
  }
  main {
    width: 100%;
    margin: 0 auto 80px;
  }
  main .swiper {
    height: 560px;
  }
  main section {
    width: 100%;
    height: 508px;
  }
  main section img{
    width: 100%;
    height: 650px;
  } 
  main .swiper-slide {
    width: 1240px !important;
    height: 508px;
    border-radius: 12px;
    background-color: #252525;
    overflow: hidden;
  }
  main section .banner-title {
    left: 20px;
  }
  main section .banner-title h1 {
    font-size: 40px;
  }
  article {
    width: 1240px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 100px;
  }
  article .swiper-slide {
    height: 360px;
  }
  article h2 {
    padding-left: 0;
    margin-bottom: 20px;
  }
  article .swiper-wrapper {
    padding-left: 0;
  }
  .poster-box-img {
    margin-top: -50px;
  }
  .details .poster-box .inner-wrapper {
    position: absolute;
    bottom: 0;
    padding: 100px 0 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #1a1a1a);
  }
  .details .poster-box .poster-box-left-shadow {
    position: absolute;
    width: 500px;
    height: 100%;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), #1a1a1a);
  }
  .details .poster-box .inner-wrapper h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 12px;
  }
  .details .poster-box .inner-wrapper .favicon {
    font-size: 12px;
    margin-top: 44px;
    margin-left: 24px;
  }
  .details .poster-box .inner-wrapper .favicon> div {
    width: 30px;
    height: 30px;
  }
  .details .bottom-tab-container>ul {
    padding: 0;
    margin-top: 20px;
  }
  .details .bottom-tab-container>ul li {
    font-size: 18px;
    padding: 15px 10px;
  }
  .details .bottom-tab-container h2 {
    margin-top: 40px;
  }
  .details .bottom-tab-container .detail-info {
    width: 1031px;
    margin-top: 40px;
    padding: 0 0 0 25px;
  }
  .details .bottom-tab-container .detail-info-img {
    width: 185px;
    height: 277px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .details .bottom-tab-container .detail-info li {
    padding: 0 0 30px 0;
    line-height: 24px;
  }
  .details .bottom-tab-container .detail-info li:first-child .detail-info-overview {
    width: 100%;
  }
  .result-message {
    padding: 50px 0 0 0;
    margin-bottom: 100px;
  }
  footer li {
    font-size: 14px;
  }
  footer {
    border-top: 1px solid #2f2f2f;
    padding: 5px 0 50px;
  }
  footer select {
    position: absolute;
    right: 0;
    top: 17px;
    display: inline-block;
    vertical-align: middle;
    width: 225px;
    height: 38px;
    padding-left: 13px;
    margin-right: 10px;
    line-height: 32px;
    color: #a5a5a5;
    border: 1px solid #252525;
    background: url(image/arrow-bottom.png) #252525 96% 50% no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
